{{ header }}
    <!-- /.header__menu -->
  <div class="header__main py-10">
    <div class="container mx-auto px-2 xl:px-28 lg:flex items-center">
      <div class="header__text flex flex-col">
        <h1 class="header__title text-4xl xl:text-5xl font-medium text-center lg:text-left mb-12">Бюджетные смесители и комплектующие оптом</h1>
        <a href="description.html" class="header-main__btn text-white text-center bg-blue-450 text-xl py-2 w-52 mx-auto lg:mx-0 cursor-pointer ring-2 rounded-lg ring-blue-450 hover:bg-white hover:text-blue-450 focus:outline-none duration-100">Подробнее</a>
      </div>
      <!-- /.header-main__text -->
      {{ content_top }}
    </div>
    <!-- /.container -->
  </div>
  <!-- /.header__main -->

  <!-- Section Gallery -->
  <section class="gallery">
    <div class="container mx-auto px-2 xl:px-28">
      <div class="gallery__wrap text-white text-2xl font-semibold grid sm:grid-cols-2 sm:gap-2 md:gap-6 xl:grid-cols-4">
        <a href="catalog.html" class="gallery__block shadow-2xl h-36 my-2 rounded-lg flex items-center justify-center bg-gallery_1 bg-cover relative"><h2 class="gallery__title z-0">Для ванной</h2></a>
        <a href="catalog.html" class="gallery__block shadow-2xl h-36 my-2 rounded-lg flex items-center justify-center bg-gallery_2 bg-cover relative"><h2 class="gallery__title z-0">Для душа</h2></a>
        <a href="catalog.html" class="gallery__block shadow-2xl h-36 my-2 rounded-lg flex items-center justify-center bg-gallery_3 bg-cover relative"><h2 class="gallery__title z-0">Для умывальника</h2></a>
        <a href="catalog.html" class="gallery__block shadow-2xl h-36 my-2 rounded-lg flex items-center justify-center bg-gallery_4 bg-cover relative"><h2 class="gallery__title z-0">Для кухонной мойки</h2></a>
        <a href="catalog.html" class="gallery__block shadow-2xl h-36 my-2 rounded-lg flex items-center justify-center bg-gallery_5 bg-cover relative"><h2 class="gallery__title z-0">Для биде</h2></a>
        <a href="catalog.html" class="gallery__block shadow-2xl h-36 my-2 rounded-lg flex items-center justify-center bg-gallery_6 bg-cover relative"><h2 class="gallery__title z-0">Для гигиены</h2></a>
        <a href="catalog.html" class="gallery__block shadow-2xl h-36 my-2 rounded-lg flex items-center justify-center bg-gallery_7 bg-cover relative"><h2 class="gallery__title z-0">Для писсуара</h2></a>
        <a href="catalog.html" class="gallery__block shadow-2xl h-36 my-2 rounded-lg flex items-center justify-center bg-gallery_8 bg-cover relative"><h2 class="gallery__title z-0">Аксессуары</h2></a>
      </div>
      <!-- /.gallery__wrap -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.gallery -->
  <!-- Section New and Popular  -->
  <section class="popular pb-14">
    <div class="container mx-auto px-2 md:px-10 xl:px-28 flex justify-center flex-col">
      <div class="popular__header py-10 flex text-2xl sm:text-4xl justify-center sm:justify-start">
        <button class="new__product mr-4 cursor-pointer focus:text-blue-450 focus:outline-none font-medium">Популярное</button>
        <div class="font-thin">|</div>
        <button class="popular__product ml-4 cursor-pointer focus:text-blue-450 focus:outline-none font-medium">Новинки</button>
      </div>
      <!-- /.popular__header -->
      <div class="swiper-container mySwiper_2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product px-6 py-3 rounded-lg text-md">
              <div class="product__header text-blue-450">
                <div class="product__code text-left">Код <span class="product-code">6905745328102</span></div>
              </div>
              <!-- /.cart__header -->
              <a href="product.html" class="product__image">
                <img src="catalog/view/theme/ekim/image/cart1.png" alt="смеситель для кухонной мойки">
              </a>
              <!-- /.cart__image -->
              <p class="product__name text-left text-blue-450">Смеситель для кухонной мойки Lemark Arc LM5079S Хром</p>
              <div class="product__price flex items-center justify-between mt-1">
                <span class="price">5252 руб.</span>
                <div class="product__stock flex items-center">
                  <div class="circle rounded-full w-4 h-4 bg-green-500 mr-2"></div> В наличии
                </div>
              </div>
              <!-- /.pruduct__price -->
              <div class="product__quantity flex justify-between mt-2">
                <div class="product__quantity-wrap flex items-center">
                  <p class="product__quanity-text text-left mr-2">Кол-во</p>
                  <div class="product__input border-blue-450 border-2 rounded-lg h-12 w-16 flex items-center relative">
                    <span class="quanity font-medium ml-3">1</span>
                    <button class="quanity-up text-blue-450 cursor-pointer absolute right-1 top-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 15l7-7 7 7" />
                      </svg>
                    </button>
                    <button class="quanity-down text-blue-450 cursor-pointer absolute right-1 bottom-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
                      </svg>
                    </button>
                  </div>
                </div>
                <a href="#" class="product__basket text-blue-450 border-2 border-blue-450 hover:bg-blue-450 hover:text-white rounded-lg duration-100 py-1 px-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                </a>
              </div>
              <!-- /.product__quantity -->
            </div>
            <!-- /.cart -->
          </div>
          <div class="swiper-slide rounded-xl">
            <div class="product px-6 py-3 rounded-lg text-md">
              <div class="product__header text-blue-450">
                <div class="product__code text-left">Код <span class="product-code">6905745328102</span></div>
              </div>
              <!-- /.cart__header -->
              <a href="product.html" class="product__image">
                <img src="catalog/view/theme/ekim/image/cart1.png" alt="смеситель для кухонной мойки">
              </a>
              <!-- /.cart__image -->
              <p class="product__name text-left text-blue-450">Смеситель для кухонной мойки Lemark Arc LM5079S Хром</p>
              <div class="product__price flex items-center justify-between mt-1">
                <span class="price">5252 руб.</span>
                <div class="product__stock flex items-center">
                  <div class="circle rounded-full w-4 h-4 bg-green-500 mr-2"></div> В наличии
                </div>
              </div>
              <!-- /.pruduct__price -->
              <div class="product__quantity flex justify-between mt-2">
                <div class="product__quantity-wrap flex items-center">
                  <p class="product__quanity-text text-left mr-2">Кол-во</p>
                  <div class="product__input border-blue-450 border-2 rounded-lg h-12 w-16 flex items-center relative">
                    <span class="quanity font-medium ml-3">1</span>
                    <button class="quanity-up text-blue-450 cursor-pointer absolute right-1 top-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 15l7-7 7 7" />
                      </svg>
                    </button>
                    <button class="quanity-down text-blue-450 cursor-pointer absolute right-1 bottom-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
                      </svg>
                    </button>
                  </div>
                </div>
                <a href="#" class="product__basket text-blue-450 border-2 border-blue-450 hover:bg-blue-450 hover:text-white rounded-lg duration-100 py-1 px-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                </a>
              </div>
              <!-- /.product__quantity -->
            </div>
            <!-- /.cart -->
          </div>
          <div class="swiper-slide">
            <div class="product px-6 py-3 rounded-lg text-md">
              <div class="product__header text-blue-450">
                <div class="product__code text-left">Код <span class="product-code">6905745328102</span></div>
              </div>
              <!-- /.cart__header -->
              <a href="product.html" class="product__image">
                <img src="catalog/view/theme/ekim/image/cart1.png" alt="смеситель для кухонной мойки">
              </a>
              <!-- /.cart__image -->
              <p class="product__name text-left text-blue-450">Смеситель для кухонной мойки Lemark Arc LM5079S Хром</p>
              <div class="product__price flex items-center justify-between mt-1">
                <span class="price">5252 руб.</span>
                <div class="product__stock flex items-center">
                  <div class="circle rounded-full w-4 h-4 bg-green-500 mr-2"></div> В наличии
                </div>
              </div>
              <!-- /.pruduct__price -->
              <div class="product__quantity flex justify-between mt-2">
                <div class="product__quantity-wrap flex items-center">
                  <p class="product__quanity-text text-left mr-2">Кол-во</p>
                  <div class="product__input border-blue-450 border-2 rounded-lg h-12 w-16 flex items-center relative">
                    <span class="quanity font-medium ml-3">1</span>
                    <button class="quanity-up text-blue-450 cursor-pointer absolute right-1 top-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 15l7-7 7 7" />
                      </svg>
                    </button>
                    <button class="quanity-down text-blue-450 cursor-pointer absolute right-1 bottom-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
                      </svg>
                    </button>
                  </div>
                </div>
                <a href="#" class="product__basket text-blue-450 border-2 border-blue-450 hover:bg-blue-450 hover:text-white rounded-lg duration-100 py-1 px-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                </a>
              </div>
              <!-- /.product__quantity -->
            </div>
            <!-- /.cart -->
          </div>
          <div class="swiper-slide">
            <div class="product px-6 py-3 rounded-lg text-md">
              <div class="product__header text-blue-450">
                <div class="product__code text-left">Код <span class="product-code">6905745328102</span></div>
              </div>
              <!-- /.cart__header -->
              <a href="product.html" class="product__image">
                <img src="catalog/view/theme/ekim/image/cart1.png" alt="смеситель для кухонной мойки">
              </a>
              <!-- /.cart__image -->
              <p class="product__name text-left text-blue-450">Смеситель для кухонной мойки Lemark Arc LM5079S Хром</p>
              <div class="pruduct__price flex items-center justify-between mt-1">
                <span class="price">5252 руб.</span>
                <div class="product__stock flex items-center">
                  <div class="circle rounded-full w-4 h-4 bg-green-500 mr-2"></div> В наличии
                </div>
              </div>
              <!-- /.pruduct__price -->
              <div class="product__quantity flex justify-between mt-2">
                <div class="product__quantity-wrap flex items-center">
                  <p class="product__quanity-text text-left mr-2">Кол-во</p>
                  <div class="product__input border-blue-450 border-2 rounded-lg h-12 w-16 flex items-center relative">
                    <span class="quanity font-medium ml-3">1</span>
                    <button class="quanity-up text-blue-450 cursor-pointer absolute right-1 top-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 15l7-7 7 7" />
                      </svg>
                    </button>
                    <button class="quanity-down text-blue-450 cursor-pointer absolute right-1 bottom-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
                      </svg>
                    </button>
                  </div>
                </div>
                <a href="#" class="product__basket text-blue-450 border-2 border-blue-450 hover:bg-blue-450 hover:text-white rounded-lg duration-100 py-1 px-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                </a>
              </div>
              <!-- /.product__quantity -->
            </div>
            <!-- /.cart -->
          </div>
          <div class="swiper-slide">
            <div class="product px-6 py-3 rounded-lg text-md">
              <div class="product__header text-blue-450">
                <div class="product__code text-left">Код <span class="product-code">6905745328102</span></div>
              </div>
              <!-- /.cart__header -->
              <a href="product.html" class="product__image">
                <img src="catalog/view/theme/ekim/image/cart1.png" alt="смеситель для кухонной мойки">
              </a>
              <!-- /.cart__image -->
              <p class="product__name text-left text-blue-450">Смеситель для кухонной мойки Lemark Arc LM5079S Хром</p>
              <div class="pruduct__price flex items-center justify-between mt-1">
                <span class="price">5252 руб.</span>
                <div class="product__stock flex items-center">
                  <div class="circle rounded-full w-4 h-4 bg-green-500 mr-2"></div> В наличии
                </div>
              </div>
              <!-- /.pruduct__price -->
              <div class="product__quantity flex justify-between mt-2">
                <div class="product__quantity-wrap flex items-center">
                  <p class="product__quanity-text text-left mr-2">Кол-во</p>
                  <div class="product__input border-blue-450 border-2 rounded-lg h-12 w-16 flex items-center relative">
                    <span class="quanity font-medium ml-3">1</span>
                    <button class="quanity-up text-blue-450 cursor-pointer absolute right-1 top-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 15l7-7 7 7" />
                      </svg>
                    </button>
                    <button class="quanity-down text-blue-450 cursor-pointer absolute right-1 bottom-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
                      </svg>
                    </button>
                  </div>
                </div>
                <a href="#" class="product__basket text-blue-450 border-2 border-blue-450 hover:bg-blue-450 hover:text-white rounded-lg duration-100 py-1 px-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                </a>
              </div>
              <!-- /.product__quantity -->
            </div>
            <!-- /.cart -->
          </div>
          <div class="swiper-slide">
            <div class="product px-6 py-3 rounded-lg text-md">
              <div class="product__header text-blue-450">
                <div class="product__code text-left">Код <span class="product-code">6905745328102</span></div>
              </div>
              <!-- /.cart__header -->
              <a href="product.html" class="product__image">
                <img src="catalog/view/theme/ekim/image/cart1.png" alt="смеситель для кухонной мойки">
              </a>
              <!-- /.cart__image -->
              <p class="product__name text-left text-blue-450">Смеситель для кухонной мойки Lemark Arc LM5079S Хром</p>
              <div class="pruduct__price flex items-center justify-between mt-1">
                <span class="price">5252 руб.</span>
                <div class="product__stock flex items-center">
                  <div class="circle rounded-full w-4 h-4 bg-green-500 mr-2"></div> В наличии
                </div>
              </div>
              <!-- /.pruduct__price -->
              <div class="product__quantity flex justify-between mt-2">
                <div class="product__quantity-wrap flex items-center">
                  <p class="product__quanity-text text-left mr-2">Кол-во</p>
                  <div class="product__input border-blue-450 border-2 rounded-lg h-12 w-16 flex items-center relative">
                    <span class="quanity font-medium ml-3">1</span>
                    <button class="quanity-up text-blue-450 cursor-pointer absolute right-1 top-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 15l7-7 7 7" />
                      </svg>
                    </button>
                    <button class="quanity-down text-blue-450 cursor-pointer absolute right-1 bottom-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
                      </svg>
                    </button>
                  </div>
                </div>
                <a href="#" class="product__basket text-blue-450 border-2 border-blue-450 hover:bg-blue-450 hover:text-white rounded-lg duration-100 py-1 px-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                </a>
              </div>
              <!-- /.product__quantity -->
            </div>
            <!-- /.cart -->
          </div>
          <div class="swiper-slide">
            <div class="product px-6 py-3 rounded-lg text-md">
              <div class="product__header text-blue-450">
                <div class="product__code text-left">Код <span class="product-code">6905745328102</span></div>
              </div>
              <!-- /.cart__header -->
              <a href="product.html" class="product__image">
                <img src="catalog/view/theme/ekim/image/cart1.png" alt="смеситель для кухонной мойки">
              </a>
              <!-- /.cart__image -->
              <p class="product__name text-left text-blue-450">Смеситель для кухонной мойки Lemark Arc LM5079S Хром</p>
              <div class="pruduct__price flex items-center justify-between mt-1">
                <span class="price">5252 руб.</span>
                <div class="product__stock flex items-center">
                  <div class="circle rounded-full w-4 h-4 bg-green-500 mr-2"></div> В наличии
                </div>
              </div>
              <!-- /.pruduct__price -->
              <div class="product__quantity flex justify-between mt-2">
                <div class="product__quantity-wrap flex items-center">
                  <p class="product__quanity-text text-left mr-2">Кол-во</p>
                  <div class="product__input border-blue-450 border-2 rounded-lg h-12 w-16 flex items-center relative">
                    <span class="quanity font-medium ml-3">1</span>
                    <button class="quanity-up text-blue-450 cursor-pointer absolute right-1 top-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 15l7-7 7 7" />
                      </svg>
                    </button>
                    <button class="quanity-down text-blue-450 cursor-pointer absolute right-1 bottom-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
                      </svg>
                    </button>
                  </div>
                </div>
                <a href="#" class="product__basket text-blue-450 border-2 border-blue-450 hover:bg-blue-450 hover:text-white rounded-lg duration-100 py-1 px-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                </a>
              </div>
              <!-- /.product__quantity -->
            </div>
            <!-- /.cart -->
          </div>
          <div class="swiper-slide">
            <div class="product px-6 py-3 rounded-lg text-md">
              <div class="product__header text-blue-450">
                <div class="product__code text-left">Код <span class="product-code">6905745328102</span></div>
              </div>
              <!-- /.cart__header -->
              <a href="product.html" class="product__image">
                <img src="catalog/view/theme/ekim/image/cart1.png" alt="смеситель для кухонной мойки">
              </a>
              <!-- /.cart__image -->
              <p class="product__name text-left text-blue-450">Смеситель для кухонной мойки Lemark Arc LM5079S Хром</p>
              <div class="pruduct__price flex items-center justify-between mt-1">
                <span class="price">5252 руб.</span>
                <div class="product__stock flex items-center">
                  <div class="circle rounded-full w-4 h-4 bg-green-500 mr-2"></div> В наличии
                </div>
              </div>
              <!-- /.pruduct__price -->
              <div class="product__quantity flex justify-between mt-2">
                <div class="product__quantity-wrap flex items-center">
                  <p class="product__quanity-text text-left mr-2">Кол-во</p>
                  <div class="product__input border-blue-450 border-2 rounded-lg h-12 w-16 flex items-center relative">
                    <span class="quanity font-medium ml-3">1</span>
                    <button class="quanity-up text-blue-450 cursor-pointer absolute right-1 top-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 15l7-7 7 7" />
                      </svg>
                    </button>
                    <button class="quanity-down text-blue-450 cursor-pointer absolute right-1 bottom-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
                      </svg>
                    </button>
                  </div>
                </div>
                <a href="#" class="product__basket text-blue-450 border-2 border-blue-450 hover:bg-blue-450 hover:text-white rounded-lg duration-100 py-1 px-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                </a>
              </div>
              <!-- /.product__quantity -->
            </div>
            <!-- /.cart -->
          </div>
          <div class="swiper-slide">
            <div class="product px-6 py-3 rounded-lg text-md">
              <div class="product__header text-blue-450">
                <div class="product__code text-left">Код <span class="product-code">6905745328102</span></div>
              </div>
              <!-- /.cart__header -->
              <a href="product.html" class="product__image">
                <img src="catalog/view/theme/ekim/image/cart1.png" alt="смеситель для кухонной мойки">
              </a>
              <!-- /.cart__image -->
              <p class="product__name text-left text-blue-450">Смеситель для кухонной мойки Lemark Arc LM5079S Хром</p>
              <div class="pruduct__price flex items-center justify-between mt-1">
                <span class="price">5252 руб.</span>
                <div class="product__stock flex items-center">
                  <div class="circle rounded-full w-4 h-4 bg-green-500 mr-2"></div> В наличии
                </div>
              </div>
              <!-- /.pruduct__price -->
              <div class="product__quantity flex justify-between mt-2">
                <div class="product__quantity-wrap flex items-center">
                  <p class="product__quanity-text text-left mr-2">Кол-во</p>
                  <div class="product__input border-blue-450 border-2 rounded-lg h-12 w-16 flex items-center relative">
                    <span class="quanity font-medium ml-3">1</span>
                    <button class="quanity-up text-blue-450 cursor-pointer absolute right-1 top-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 15l7-7 7 7" />
                      </svg>
                    </button>
                    <button class="quanity-down text-blue-450 cursor-pointer absolute right-1 bottom-0 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
                      </svg>
                    </button>
                  </div>
                </div>
                <a href="#" class="product__basket text-blue-450 border-2 border-blue-450 hover:bg-blue-450 hover:text-white rounded-lg duration-100 py-1 px-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                </a>
              </div>
              <!-- /.product__quantity -->
            </div>
            <!-- /.cart -->
          </div>
        </div>
        <div class="swiper-button-next next"></div>
        <div class="swiper-button-prev prev"></div>
      </div>
      <!-- swiper container -->
      <a href="catalog.html" class="popular__btn text-xl text-center text-blue-450 p-2 mx-auto w-60 mt-14 cursor-pointer ring-2 rounded-lg ring-blue-450 hover:bg-blue-450 hover:text-white focus:outline-none duration-100 ">Перейти в каталог</a>
    </div>
    <!-- /.container -->
  </section>
  <!-- /.popular -->
  
{{ footer }}